/logs/*

/data/*
/data/CCases/Players.json
/data/ServerRewards/cooldown_data.json
/data/ServerRewards/npc_data.json
/data/ServerRewards/player_data.json

!/data/BetterLoot/
!/data/CCases/
!/data/copypaste/
!/data/ServerRewards/
!/data/Kits.json
!/data/death.png
!/data/hit.png
!/data/StackSizeController.json


GameStoresRUST.json
RustStore.json

config/Discord.json
config/Rustcord.json
config/NotifyOnKeyword.json

# Privat plugins
SkyCraftSystem.cs
UniversalItems.cs
UnbreakableTools.cs
OreBonus.cs
Cases.cs
CCases.cs
Skills.cs
